#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
}

.divApp {
  width: 500px;
  height: auto;
  padding: 2rem;
  border: 2px solid gold;
  border-radius: 1rem;
  background: black;
}

h1 {
  font-size: 6.8rem;
  color: red;
}

h2 {
  font-size: 4rem;
  color: green;
}

p {
  font-size: 2.8rem;
  color: aquamarine;
}